.About{
display: flex;
text-align: justify;
padding: 15px;
font-size: 12px;
line-height: 20px;
}

.AboutHeading{
  text-align: right;
  color: #6BAB90;
}

.AboutText{
width: 50%;
padding: 20px;
}

.AboutCarousel{
  width: 50%;
  }

// .bday{
// object-fit: cover;
//   }