@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

.App {
background-color:#5E4C5A;
min-height: 100vh;
font-family: 'Montserrat', sans-serif;
display: flex;
color: white;
}
