.Sidebar{
background-color: #55917F;
width: 375px;
min-height: 100vh;
padding: 20px;
text-align: center;
color: rgb(210, 248, 185);
}
.sidebar-title{
text-transform: uppercase;
color: #fff3e3;
font-family: 'Montserrat', sans-serif;
}

img.bio-pic{
  max-width: 200px;
  border-radius: 100%;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top:35px;
}

li {
padding-top: 15px;
padding-bottom: 10px;
border-bottom: 1px solid #CAFFB9;
border-bottom-width: 1.5px;
width: 130px;
margin: 0 auto;
text-align: center;
text-transform: uppercase;
color: #fff3e3;
}

li:hover{
  border-bottom: 1.5px solid #5a455a;
  letter-spacing: 1px;
}
